
.navigation{
  display: inline-block;
  width: 15%;
  text-align: center;
  text-decoration: none;
  background-color: rgba(75, 75, 75, 100);
  color: rgba(255, 255, 255, 100);
  font-size: 16pt;
}

.navigation:hover{
  text-decoration: none;
  background-color: rgba(10, 10, 10, 100);
  color: rgba(255, 255, 255, 100);
}

#current{
  text-transform: uppercase;
  display: inline-block;
  width: 15%;
  text-align: center;
  text-decoration: none;
  background-color: rgba(75, 75, 75, 100);
  color: rgba(255, 255, 255, 100);
  font-size: 16pt;
}

body{
  background-color: rgba(75, 75, 75, 100);
}

h1{
  color: white;
}

p{
  color: white;
}
